@layer reset, base, tokens, recipes, utilities;

@font-face {
  font-family: 'OlympicHeadline';
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/OlympicHeadline-Regular.woff2') format('woff2'),
       url('/fonts/OlympicHeadline-Regular.woff') format('woff');
}

@font-face {
  font-family: "ProductSans";
  font-weight: 400;
  font-display: swap;
  src:
    url("./fonts/ProductSans-Regular.woff2") format("woff2"),
    url("./fonts/ProductSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "ProductSans";
  font-weight: 700;
  font-display: swap;
  src:
    url("./fonts/ProductSans-Bold.woff2") format("woff2"),
    url("./fonts/ProductSans-Bold.woff") format("woff");
}

body {
  font-family: 'OlympicHeadline', 'Product-Sans', sans-serif;
  background-color: #000000;
}